:root {
  --font-size: 20px;
  --image-size: 50px;
}

html {
  font-size: var(--font-size);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
  font-family: Helvetica, system-ui, sans-serif;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  font-size: 3rem;
}

.links {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.links a {
  margin-right: 1rem;
  flex-shrink: 0;
  display: flex;
}

.image {
  width: var(--image-size);
  height: var(--image-size);
  min-width: var(--image-size);
}

.image.max {
  --image-size: 44px;
}

@media (max-width: 480px) {
  :root {
    --font-size: 16px;
  }
}
